<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EPW_Recaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EPW_Recaster.Properties.Settings>
            <setting name="ConditionLists" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentConditionListIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="InfoWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="InfoWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormsChained" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreviewCapture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxRolls" serializeAs="String">
                <value>50</value>
            </setting>
        </EPW_Recaster.Properties.Settings>
    </userSettings>
</configuration>