# =================================================================
# Time it takes for the in-game reproduce button
# to become available again.
# Note: Should be above 1500 milliseconds (personal measured time).
# =================================================================

Await In-Game Reproduce Button Available	| 2000 milliseconds


# =================================================================
# Time it takes for the in-game stats to be rolled.
# Note: If not already patched, increase this timing (~x3) for
#       rolling non R8 equipment (Primal/Nirvana/...).
# =================================================================

Await In-Game Stats Rolled			| 2000 milliseconds


# =================================================================
# Time to wait before accepting/rejecting a roll.
# Notes:
#       - A lower value speeds up the roll process.
#         However, if lowered: more difficult to stop roll process
#         due to mouse cursor being moved.
#       - A higher value makes it easier for the user
#         to follow the roll process and thus leans
#         closer to human behavior.
# =================================================================

Await Accept/Reject Action			| 3000 milliseconds

